
<div class="login_title">
Melius
</div>
<div class="login">
    <%= form_tag "/workspace_login" do  %>

      <%= hidden_field_tag "workspace", @workspace.id %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag "Login" %>
    <% end %>
</div>


<% if flash["message"]%>
<%= flash["message"]%>
<% end %>