<style>
div {
  padding: 20px;
  text-align: -webkit-left;
  background-color: rgb(255, 255, 255, 0.5);
  width: 660px;
  
}

</style>


<h1 id="ratione"> <%= @workspace.name %> </h1>
<div>
<p>Location: <%= @workspace.location %></p>


<ul>
    <% @workspace.users.each do |user| %>
            
            <p> <div class="gravatarThumb"><img src="<%= user.image.url %>" /></div>  <%= link_to user.name, user %> - <%= user.title %> - <%= user.user_rating %></p>
            
    <% end %>


 

<% if @current_user.title == "Boss" %>
<%= link_to "Edit", edit_workspace_path(@workspace)%>
<% end %>


</div>


        

