<h1 id="ratione"> <%= @workspace.name %> </h1>
<div class="blockdisplay">
<p>Location: <%= @workspace.location %></p>


<ul>
    <% @workspace.users.each do |user| %>
        <li>
            <%= user.name %> - <%= user.title %> - <%= user.user_rating %>
        </li>
    <% end %>

    

        <p><%= link_to "Edit", edit_workspace_path(@workspace)%></p>
</div>


        

