<h1><%= Melius %></h1>


<p> 
    <strong>Name:</strong><%= @user.name %> 
</p>


<%
=begin%>
 <% @user.reviews.each do |rev| %>
    <% @user.user_rating << rev.rating %>
<% end %>

<% average_rating = @user_rating.sum / @user.user_rating.size.to_f %>
<p> 
    <strong>Rating:</strong><br><%= '%.2f' % average_rating %> 
</p> 
<%
=end%>

<p>
    <strong>Company:</strong> <%= @user.workspace.name %>: <%= @user.title %>
</p>

<p>
    <strong>Age:</strong><%= @user.age %>
</p>



<%= link_to "Edit", edit_user_path(@user) %>





<h3>Leave a Rating</h3>
<%= form_for @review do |f| %>
    
    <%= f.label :rating %><br>
    <%= f.number_field :rating %><br>
    
    <%= f.label :comment %><br>
    <%= f.text_area :comment, rows: 12, cols: 64 %>

    <%= f.submit %>

<% end %>

<h2>Reviews</h2>

<ul>
<% @user.reviews.each do |rev| %>
    <li>
        <%= rev.rating %>
        <%= rev.comment %>
    </li>
<% end %>
</ul>

