<h1><%= Melius %></h1>


<p> 
    <strong>Name:</strong><%= @user.name %> 
</p>

 <% @user.reviews.each do |rev| %>
    <% @rating << rev.rating %>
<% end %>

<% average_rating = @rating.sum / @rating.size.to_f %>
<% @average = '%.2f' % average_rating %>
<% @user.user_rating = @average %>
<% @user.save %>
<p> 
    <strong>Rating:</strong><br><%= @user.user_rating %> 
</p> 


<p>
    <strong>Company:</strong> <%= @user.workspace.name %>: <%= @user.title %>
</p>

<p>
    <strong>Age:</strong><%= @user.age %>
</p>



<%= link_to "Edit", edit_user_path(@user) %>





<h3>Leave a Rating</h3>
<%= form_for @review do |f| %>


    <%= f.hidden_field :user_id, value: @user.id %>
    

 <%= f.hidden_field :reviewer_name, value: @current_user.name %> 



    <%= f.label :rating %><br>
    <%= f.number_field :rating %><br>
    
    <%= f.label :comment %><br>
    <%= f.text_area :comment, rows: 12, cols: 64 %>

    <%= f.submit %>

<% end %>

<h2>Reviews</h2>

<ul>
<% @user.reviews.each do |rev| %>
    <li>

        <%= rev.reviewer_name %> -
        <%= rev.rating %>:
        <%= rev.comment %>
    </li>
<% end %>
</ul>

