<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
</style>
</head>

<div class="title">
<h1><%= Melius %></h1>
</div>

<div class="userblock">
<p> 
    <strong>Name:</strong><%= @user.name %> 
</p>


<% @rating = [] %>
 <% @user.reviews.each do |rev| %>
    <% @rating << rev.rating %>
<% end %>

<% average_rating = @rating.sum / @rating.size.to_f %>
<p> 
    <strong>Rating:</strong><br><%= '%.2f' % average_rating %> 
</p> 


<p>
    <strong>Company:</strong> <%= @user.workspace.name %>: <%= @user.title %>
</p>

<p>
    <strong>Age:</strong><%= @user.age %>
</p>



<%= link_to "Edit", edit_user_path(@user) %>
</div>




<h3>Leave a Rating</h3>
<%= form_for @review do |f| %>


    <%= f.hidden_field :user_id, value: @user.id %>
    

 <%= f.hidden_field :reviewer_name, value: @current_user.name %> 



    <%= f.label :rating %><br>
    <%= f.number_field :rating %><br>
    
    <%= f.label :comment %><br>
    <%= f.text_area :comment, rows: 12, cols: 64 %>

    <br><%= f.submit %>

<% end %>
<div class="review">
<h2>Reviews</h2>

<ul>
<% @user.reviews.each do |rev| %>
    <li>

        <%= rev.reviewer_name %> -
        <%= rev.rating %>:
        <%= rev.comment %>
    </li>
<% end %>
</ul>
</div>

