<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
</style>
</head>

 <% @user.reviews.each do |rev| %>
    <% @rating << rev.rating %>
<% end %>

<% average_rating = @rating.sum / @rating.size.to_f %>
<% @average = '%.2f' % average_rating %>
<% @user.user_rating = @average %>
<% @user.save %>


<div class="title">
<h1><%= @user.name %></h1>
</div>

<div class="rating">
    <h1> <%= @user.user_rating %></h1>
</div>

<div class="melius">
<%= Melius %>
</div>

<div class="userblock">


 <div class="gravatar">
<img src="<%= @user.image.url %>" />
</div> 


<%
=begin%>
 <div class="userImage">
<%= image_tag(@user.image.url, style:"height: 60%; width: 60%;") %>
</div> 
<%
=end%>


 <% @user.reviews.each do |rev| %>
    <% @rating << rev.rating %>
<% end %>

<% average_rating = @rating.sum / @rating.size.to_f %>
<% @average = '%.2f' % average_rating %>
<% @user.user_rating = @average %>
<% @user.save %>



<p>
    <strong>Company:</strong> <%= link_to @user.workspace.name, workspace_path(@user.workspace_id) %>: <%= @user.title %>
</p>

<p>
    <strong>Age:</strong><%= @user.age %>
</p>


<% if @current_user.id == @user.id %>
<%= link_to "Edit", edit_user_path(@user) %>
<% end %>

<% if @current_user.id == @user.id %>
        <%= button_to "Logout", "/logout", method: :delete %>
      <% end %>


</div>


<div class="leaveRating">
<% if @current_user.workspace_id == @user.workspace_id %>
<h3>Leave a Rating</h3>
<%= form_for @review do |f| %>


    <%= f.hidden_field :user_id, value: @user.id %>
    

 <%= f.hidden_field :reviewer_name, value: @current_user.name %> 



    <%= f.label :rating %><br>
    <%= f.number_field :rating %><br>
    
    <%= f.label :comment %><br>
    <%= f.text_area :comment, rows: 12, cols: 64 %>

    <br><%= f.submit %>

<% end %>

<% end %>
</div>
<div class="review">
<h2>Reviews:</h2>


<% @user.reviews.each do |rev| %>
    <p>

        <%= rev.reviewer_name %> -
        <%= rev.rating %>:
        <%= rev.comment %>
    </p>
<% end %>

</div>

